# requirements.txt

# Core ML and Transformer libraries
transformers
torch
accelerate
bitsandbytes
sentence-transformers

# Data handling and version pinning for compatibility
datasets==2.16.1

# Utilities
nltk
tqdm

# Evaluation
seqeval

# Performance Optimization (Fast Tokenizer)
tiktoken